body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}


* {
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');


.title-details{
	text-align: center;
}
.txt-details{
	width: 85%;
    text-align: justify;
    margin-left: 50px;
    line-height: 30px;
}
.title-services{
	margin-left: 35px;

}
.subtitle-services{
	margin-left: 35px;
}
.container{
  
}
.office-container{
  
}
.time-container{
    
}
.services-container{

}
.details-container{

}
