<link rel="stylesheet" href="registration.css">
<link rel="stylesheet" href="../panel/panel.css">

<div class="panel">
	<div class="input input-inline">
		<label class="input-label">First Name*: </label>
		<input type="text" name="input" class="input-field">
	</div>
	<div class="input input-inline">
		<label class="input-label">Last Name*: </label>
		<input type="text" name="input" class="input-field">
	</div>
	<div class="input input-inline">
		<label class="input-label">Email*: </label>
		<input type="text" name="input" class="input-field" placeholder="email@email.com">
	</div>
	<div class="input input-inline">
		<label class="input-label">Mobile*: </label>
		<input type="text" name="input" class="input-field">
	</div>
	<div class="input input-inline">
		<label class="input-label">Sex*: </label>
		<select type="text" name="input" class="input-field">
			<option>Male</option>
			<option>Female</option>
			</select>
	</div>
	<p class="required">*Required fields</p>


</div>