.button {
    color: #FFF;
    background-color: #ff8c1a;
    padding: 6px 17px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 1px 2px 6px -1px #ff8c1a;
    border: transparent;
    cursor: pointer;
}

.acc-btn{
    color: #FFF;
    background-color: #ff8c1a;
    padding: 2px 9px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 1px 2px 6px -1px #ff8c1a;
    border: transparent;
    cursor: pointer;
}
.bottom-btn{
    width: 88%;
    margin: auto;
    margin-bottom: 30px;
}


.continue-btn{
    float: right;
}
.back-btn{
    margin: auto;
    margin-bottom: 30px;
}
.back-btn-time{
    margin: auto;
    margin-bottom: 30px;
}
