.accordion{
	width: 33%;
    margin-left: 60px;
    margin-top: 30px;
    height: 290px;
}
.info-txt{
	padding-left: 25px;
}
.ui-state-default{
	background: #f6f6f6;;
	border: 1px solid #DDD;
	padding: 4px;
	cursor: pointer;
	margin: 1px;
}
.ui-state-default a{
    text-decoration: none;
    color: #454545;
    font-weight: 100;
    padding-left: 15px;

}
.ui-state-active{
    background: #4d94ff;
    color: #FFF;
    padding: 4px;
    margin: 0;
}
.ui-state-active a{
  text-decoration: none;
  color: #FFF;
}
.ui-widget-content{
	border: 1px solid #ddd;
    background: #fff;
    color: #333;
}
.btn-acc{
	float: right;
    margin-right: 10px;
}