<link rel="stylesheet" href="accordion.css">
<link rel="stylesheet" href="../button/button.css">

<div class="accordion-container">
	<ul class="accordion">
		<li>
			<a href="#first" class="accordion-header">Office 1</a>
			<div class="accordion-content" id="first">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<p>Laboriosam culpa modi error delectus.</p>
				<p> 0230778258</p>
				<span class="accordion-btn"><button class="acc-btn"> Select</button></span>
			</div>
		</li>
		<li>
			<a href="#second" class="accordion-header">Office 2</a>
			<div class="accordion-content" id="second">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<p>Laboriosam culpa modi error delectus.</p>
				<p> 0230778222</p>
				<span class="accordion-btn"><button class="acc-btn"> Select</button></span>
			</div>
		</li>
		<li>
			<a href="#third" class="accordion-header">Office 3</a>
			<div class="accordion-content" id="third">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<p>Laboriosam culpa modi error delectus.</p>
				<p> 0230772258</p>
				<span class="accordion-btn"><button class="acc-btn"> Select</button></span>
			</div>
		</li>
		<li>
			<a href="#fourth" class="accordion-header">Office 4</a>
			<div class="accordion-content" id="fourth">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<p>Laboriosam culpa modi error delectus.</p>
				<p> 0230778333</p>
				<span class="accordion-btn"><button class="acc-btn"> Select</button></span>
			</div>
		</li>
	</ul>
</div>