<link rel="stylesheet" href="accordion.css">
<div class="accordion">
	<div class="content">
		<h3><a href="#">Office 1</a></h3>
		<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi eaque deserunt natus sunt explicabo officia culpa itaque ipsa quibusdam tempora quas, adipisci accusantium quisquam sequi beatae repudiandae distinctio commodi a.</div>
		<h3><a href="#">Office 2</a></h3>
		<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi eaque deserunt natus sunt explicabo officia culpa itaque ipsa quibusdam tempora quas, adipisci accusantium quisquam sequi beatae repudiandae distinctio commodi a.</div>
		<h3><a href="#">Office 3</a></h3>
		<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi eaque deserunt natus sunt explicabo officia culpa itaque ipsa quibusdam tempora quas, adipisci accusantium quisquam sequi beatae repudiandae distinctio commodi a.</div>
	</div>
</div>

<script type="text/javascript" src="../js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="../js/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" src="../js/ui.js"></script>