<link rel="stylesheet" href="accordion.css">

<div class="accordion-container div">
	<ul class="accordion">
		<li>
			<a href="#first" class="accordion-header">First</a>
			<div class="accordion-content" id="first">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi odit soluta ullam omnis fuga natus, porro magni commodi quia perferendis est dignissimos rerum ipsam perspiciatis. Laboriosam culpa modi error delectus.</p>
			</div>
		</li>
		<li>
			<a href="#second" class="accordion-header">Second</a>
			<div class="accordion-content" id="second">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi odit soluta ullam omnis fuga natus, porro magni commodi quia perferendis est dignissimos rerum ipsam perspiciatis. Laboriosam culpa modi error delectus.</p>
			</div>
		</li>
		<li>
			<a href="#third" class="accordion-header">Third</a>
			<div class="accordion-content" id="third">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi odit soluta ullam omnis fuga natus, porro magni commodi quia perferendis est dignissimos rerum ipsam perspiciatis. Laboriosam culpa modi error delectus.</p>
			</div>
		</li>
		<li>
			<a href="#fourth" class="accordion-header">Fourth</a>
			<div class="accordion-content" id="fourth">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi odit soluta ullam omnis fuga natus, porro magni commodi quia perferendis est dignissimos rerum ipsam perspiciatis. Laboriosam culpa modi error delectus.</p>
			</div>
		</li>
	</ul>
</div>