<!-- <link rel="stylesheet" href="services.css">
<link rel="stylesheet" href="../panel/panel.css">
<link rel="stylesheet" href="../thumbnail/thumbnail.css">
<link rel="stylesheet" href="../button/button.css">
<link rel="stylesheet" href="../reset.css"> -->

<div class="services">
	<h2 class="title-services">titlu</h2>
	<p class="subtitle-services">$ dolari</p>
	<div class="panel-services">
		<div class="thumbnail">
			<img class="page-logo" src="../images/classic.jpg">
		</div>
		<div class="panel-text">
			<p> PhotoNet are the UK and Ireland’s most trusted baby, child and family portrait photography specialists, our studios are located nationwide in selected Mothercare & Debenhams stores. PhotoNet are the UK and Ireland’s most trusted baby, child and family portrait photography specialists, our studios are located nationwide in selected Mothercare & Debenhams stores.PhotoNet are the UK and Ireland’s most trusted baby, child and family portrait photography specialists, our studios are located nationwide in selected Mothercare & Debenhams stores.PhotoNet are the UK and Ireland’s most trusted baby, child and family portrait photography specialists, our studios are located nationwide in selected Mothercare & Debenhams stores</p>
		</div>
	</div>
	<div class="btn-service">
		<button class="button"> Select</button>
	</div>
</div>