<link rel="stylesheet" href="about.css">
<link rel="stylesheet" href="../panel/panel.css">
<link rel="stylesheet" href="../../reset.css">
<link rel="stylesheet" href="../button/button.css">

<div class="panel">
	<div class="about">
		<h1 class="title-details">Your details</h1>
		<ul>
			<li><span class="about-left">Photo Shoot:</span> 
				<span class="about-right"> Standard</span>
			</li>
			<li><span class="about-left">Description:</span> 
				<span class="about-right"> Our Standard Photo Shoot is a full photo shoot suitable for you and your family, lasting approximately 30 minutes we will take between 25 and 30 images capturing a variety of photography styles. You will receive a complimentary digital image from the day</span>
			</li>
			<li><span class="about-left">Price:</span> 
				<span class="about-right"> 270 $</span>
			</li>
			<li><span class="about-left">Adress:</span> 
				<span class="about-right">Mothercare, Mahon Point Retail Park, Mahon Point</span>
			</li>
			<li><span class="about-left">Duration:</span> 
				<span class="about-right"> 45 minutes</span>
			</li>
			<li><span class="about-left">Date:</span> 
				<span class="about-right">May 27, 2017 5:00 PM</span>
			</li>
		</ul>
		<div class="down-btn">
			<span class="down-btn-left"><button class="button"> Back</button></span>
			<span class="down-btn-right"><button class="button"> Continue</button></span>
		</div>
	</div>
</div>